<!DOCTYPE html>
<html>
<head>
	<title>Upload File</title>
	<script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
	
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
	<div class="container">
		<div class="row center-align heading">
			<h1 class="flow-text">SUBMIT YOUR SONG</h1>
		</div>
		<div class="row">
		<form class="col m6 offset-m3 s12 form" action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="row">
				<div class="file-field input-field">
					{{ form.song.errors }}
					<div class="btn">
						<span>File</span>
						{{ form.song }}
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					{{ form.track_url.errors }}
					{{ form.track_url }}
					<label for="{{ form.track_url.id_for_label }}">Track URL:</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					{{ form.profile_url.errors }}
					{{ form.profile_url }}
					<label for="{{ form.profile_url.id_for_label }}">Profile URL:</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4 offset-s4">
					{{ form.follow_checkbox.errors }}
					{{ form.follow_checkbox }}
					<label for="{{ form.follow_checkbox.id_for_label }}">Follow User? </label>
				</div>
			</div>
			<button class="btn waves-effect waves-light" type="submit" name="action">Submit
				<i class="material-icons right">send</i>
			</button>
		</form>
	</div>
	</div>
	
</form>
</body>
</html>